@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(/assets/images/background-body.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
}

header{
    font-family: 'Rationale', sans-serif;
    color: antiquewhite;
    text-align: center;
    margin-top: 50px;
}

button {
    height: 5em;
    width: 10em;
    margin-top: 50px;
}
.game-info{
    color: antiquewhite;
    font-family: 'Rationale', sans-serif;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
