@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("..assets/images/background-body.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size:cover;
}

.overlay-start{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Rationale', sans-serif;
    color: antiquewhite;
    padding-top: 2em;
    z-index: 100;
}
.overlay-start.visible{
    display: flex;
    animation: overlay-show 500ms forwards;
}

@keyframes overlay-show{
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 2em;
    }
}

button {
    height: 5em;
    width: 10em;
    margin:4em auto;
    border-radius: 10%;
    font-family: 'Rationale', sans-serif;
    font-size: .5em;
    color: antiquewhite;
    background-color: #403D64;
    
}

h1,h2, h6{
    padding-bottom: 1em;
}

.overlay-start > p {
    padding: 0 2em;
    font-size: .7em;
}

#time-text{
    float: left;
}

#restart{
    color: antiquewhite;
    font-size: 1em;
    padding: 10px;
    border: solid 2px antiquewhite;
}

#score-text{
    float: right;
}
.game-info{
    width: 60vw;
    color: antiquewhite;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    text-align: center;
    margin:20px auto;
   
}
.game-area{
    width: 640px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    perspective: 1000px;
    
}

.card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    
}

.hidden{
    display: none;
}

.card:hover{
    transform: scale(.95);
    transition: .5s;
}

.card.selected{
    border: 2px solid goldenrod;
    border-radius: 10%;
}

.card.matched{
    border: 2px solid blueviolet;
    border-radius: 10%;
    transform: rotateY(180deg);
}

.frontface,
.backface{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10%;
    position: absolute;
    backface-visibility: hidden;
    
}

.frontface{
    transform: rotateY(180deg);
}
/*Mobile responsivness*/
@media screen and (max-width: 650px) {
    .game-info{
        width: 60vw;
        color: antiquewhite;
        font-family: 'Rationale', sans-serif;
        font-size: 20px;
        text-align: center;
        margin: auto;
    }

    .game-area{
    width: 90vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    
    }

    .overlay-start > p {
        padding: 0 2em;
        font-size: .4em;
    }

    footer{
        width: 300px;
        height: 1em;
        text-align: center;
        margin: 2em auto .2em;
    }
    .fa {
        font-size: initial;
    }
    footer > span {
        margin: 0 1em;
        font-size: 10px;
        font-family: 'Rationale', sans-serif;
        color: antiquewhite;
    }
}

footer{
    width: 300px;
    height: 3em;
    text-align: center;
    font-family: 'Rationale', sans-serif;
    font-size: 1.3em;
    color: antiquewhite;
    margin: 2em auto .2em;
}
footer > span {
    margin: 0 1em;
}